<title> Helping Hand</title>
<link rel="icon" type="image/ico" href="{% static 'images/hand3.png' %}" />

<h1> Guidelines for the local hospital:</h1>
<hr>


<h3>
<p>1.The rooms of the school or hotel should be clearly well defined.  </p>
<p>2.While adding the school or hotel the user should enter the correct information.</p>
<p>3.The hotel and school should be in good condition to operate the hospital. </p>
<p>4.If the owner of the hotel or school wants to remove the local hospital, then he/she should request to the admin.</p>
<p>5.After submitting all the information the data will be sent to the Admin for verification, and only after verification the information will be allowed on the website</p>
</h3>

<input type="button"value="Continue!" onclick="history.back()">