{% extends "hand/base3.html" %} 
{% load crispy_forms_tags %}
{% block content %}
<a href="{% url 'guide' %}" ><h2 style="color:blue;">Please Read the Guidelines Before Submiting</h2></a>

    <div class="content-section"> 
    
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Hospital</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">SUBMIT</button>
            </div>
        </form>
    </div>
 {% endblock content %}